<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <title>Hospital</title>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <style>
        	body{background-color: #f0f0f0;}
        	.logo {
				width: 27px;
    			max-width: 280px;
    			vertical-align: text-bottom !important;
			}
			.prin{color:#F85A51; font-size: 27px;font-family: 'Ubuntu', sans-serif}
			.sec{color:#6A7891; font-size: 27px;font-family: 'Ubuntu', sans-serif}
			.info-usuario{float:right}
			.header{background-color: white;}
			
        </style>
        <script>
	        
        </script>
    </head>
    <body>
    	<div th:replace="fragments/header :: header">...</div>
    	<div class="container">
			<div class="row">
				<div class="col-md-12">
        			<h1>Consulta de mayor atención</h1>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-md-12">
        			<table class="table">
        				<tr th:each="consulta, itemStat : ${consultas}">
        					<td width="30%"><b><span th:text="${consulta.tipoConsulta}"></span></b>&nbsp;pacientes atendidos:&nbsp;<span th:text="${consulta.cantPacientes}"></span></td>
        					<td width="70%">Especialista:&nbsp;<span th:text="${consulta.nombreEspecialista}"></span></td>
        				</tr>
        			</table>
        		</div>
        	</div>
        </div>
    </body>
</html>